.chart-main{
	
	margin: 0 35px 0 40px;
	padding:40px 40px ;
	height: 500px;
	background-color: #fff;
}
.Chart_xian{
	visibility: hidden;
	height: 400px;
	float: left;
	margin-top: 60px;
    width: 100%;
}
.Chart_shu{
	position: absolute;
	margin-top: 95px;
	height: 400px;
    width: 100%;
}
.table-main{
	visibility: hidden;
	position: relative;
	height: 400px;
    width: 100%;
    margin-top: -380px;
}
.table-t{
	background: #FFFDF6;
	border: 1px solid #CCCCCC ;
	font-family: "microsoft yahei";
	position: absolute;
	width: 100%;
}
.table-t th{
	text-align: center;
	height: 50px;
}
.table-t td{
	text-align: center;
	height: 75px;
}
.Chart_biao td {
	text-align: center;
	height: 59px;
}
.Chart_biao th {
	height: 28px;
	text-align: center;
}
.seacrh-line-inner{
	width: 100%;
	float: left;
}
.submitInput{
background: #F7F7F7;
}
.choosechart{
	float: right;
	height: 28px;
	width: 240px;
}
.chart-a{
	float: left;
	cursor: pointer;
	display: block;
    border-radius: 3px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;
    width: 54px;
    color: #fff;
    background-color: #fabe00;
    font-size: 13px;
}
.choosechart a:hover{
    background-color: #ff8650;
}
