<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="http://www.car_rental.com/scripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="http://www.car_rental.com/styles/IfoPage.css"/>
		<link rel="stylesheet" type="text/css" href="http://www.car_rental.com/styles/CarPage.css"/>
		<title></title>
	</head>
	<body>
		<!--head start-->
		<div id="head_bd">
			<div class="zc-head-main">
				<a href="###" class="zc_logo" alt="神州租车"></a>
				<ul class="zc-head-menu">
					<li><a href="/HomePage/HomePage">首页</a></li>
					<li><a href="/IfoPage/IfoPage#orderAll">我的订单</a></li>
					<li><a href="/IfoPage/IfoPage#orderMes">基本信息</a></li>
					<li><a href="###">门店</a></li>
					<li><a href="/Login/Login">注销</a></li>
				</ul>
				<div class="zc-head-index">
					<div class="zc-head-ifo">
						<h1 id="topLoginName">
							你好，Hucker&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="/IfoPage/IfoPage#orderAll">我的神州</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<!--head end-->
		<div class="clearboth"></div>
		<!--Ifo main-->
		<div class="car-Ifo-box">
	        <div class="car-Ifo-main"  id="IfoOrdAll" style="z-index: 8;">
	           <div class="zc-car-alllist">
	           		<h2>{$Car->car_detailna}</h2>
	               	<div class="zc-order-showBox">
	           	    	<table class="zc-car-table" cellpadding="0" cellspacing="0" border="0">
	           	    		<thead>
	           	    			<tr class="car-197">
	                            <th class="al" ></th>
	                            <th width="car-197"></th>                         
	                            </tr>
	           	    		</thead>
	           	    	    <tbody>
	           	    	    	<tr>
	           	    	    		<td colspan="2" class="td-1">
	                            		<img src="{$Car->car_url}" width="240" height="117" style="padding-top:10px ">
	                               </td>                            
	           	    	    	</tr>   
	           	    	    	<tr class="car-title">
	           	    	    		<td colspan="2" class="td-title">
	                            		<span>基本信息</span>
	                               </td>
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="pp">&nbsp;</b>
												 品  &nbsp;&nbsp;牌 ：	
												<span>{$Car->car_brand}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="cx">&nbsp;</b>
												 车 &nbsp;&nbsp;系 ：
												 <span>{$Car->car_type}</span>
	                               </td>
	           	    	    	</tr>   
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="ndk">&nbsp;</b>
												 年&nbsp;贷&nbsp;款：	
												<span>{$Car->car_year}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="pzk">&nbsp;</b>
												 配&nbsp;置&nbsp;款：
												 <span>{$Car->car_configuration}</span>
	                               </td>  	                      
	           	    	    	</tr>  
	           	    	    	<tr class="car-title">
	           	    	    		<td colspan="2" class="td-title">
	                            		<span>配置信息</span>
	                               </td>      
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="zw">&nbsp;</b>
												 座&nbsp;位&nbsp;数：	
												<span>{$Car->car_seatnum}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="cm">&nbsp;</b>
												车&nbsp;门&nbsp;数 ：
												 <span>{$Car->car_door}</span>
	                               </td>  	                      
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="rll">&nbsp;</b>
												 燃料类型：	
												<span>{$Car->car_fuel}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="bsx">&nbsp;</b>
												变速箱类型：
												 <span>{$Car->car_gearcase}</span>
	                               </td>  	                      
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="pl">&nbsp;</b>
												 排&nbsp;&nbsp;量 ：	
												<span>{$Car->car_pailiang}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="ryh">&nbsp;</b>
												燃油标号：
												 <span>{$Car->car_fuelnum}</span>
	                               </td>  	                      
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="qd">&nbsp;</b>
												 驱动方式：	
												<span>{$Car->car_drive}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="fdj">&nbsp;</b>
												发动机进气形式：
												 <span>{$Car->car_engine}</span>
	                               </td>  	                      
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="tc">&nbsp;</b>
												 天&nbsp;&nbsp;窗：	
												<span>{$Car->car_skylight}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="yxrl">&nbsp;</b>
												油箱容量：
												 <span>{$Car->car_tank}</span>
	                               </td>  	                      
	           	    	    	</tr> 
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="yx">&nbsp;</b>
												 音&nbsp;&nbsp;箱：	
												<span>{$Car->car_voicebox}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="zy">&nbsp;</b>
												座&nbsp;&nbsp;&nbsp;椅：
												 <span>{$Car->car_seatsort}</span>
	                               </td>  	                      
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="dxld">&nbsp;</b>
												倒车雷达：	
												<span>{$Car->car_reversing}</span>
	                               </td>  
	                               <td class="td-cont">
	                            				<b class="qn">&nbsp;</b>
												气&nbsp;&nbsp;&nbsp;囊：
												 <span>{$Car->car_gasbag}</span>
	                               </td>  	                      
	           	    	    	</tr>  
	           	    	    	<tr>
	           	    	    		<td class="td-cont">
	                            				<b class="dvd">&nbsp;</b>
												DVD&nbsp;/&nbsp;CD：
												<span>{$Car->car_music}</span>
	                               </td>
	                               <td class="td-cont">
	                            				<b class="gps">&nbsp;</b>
									              G&nbsp;P&nbsp;S ：
												 <span>{$Car->car_gps}</span>
	                               </td>  	                      
	           	    	    	</tr> 
	           	    	    </tbody>
	           	    	</table>
	           	    	    
	            	</div>
	           		<div class="addcCargraybutbox" >
							<a href="/Carlist/carlist" style="margin-left: 180px;" >返回主界面</a>
							<a href="/Index/ording?car_id={$Car->car_id}" style="margin-left: 150px;" >立即预定</a>
					</div>
	           </div>
	        </div>	
		   
		</div>
		<!--Ifo main end-->
		<div class="clearboth"></div>
		 <!--foot-->
	    <div class="zc-footmenu">
	      		<div class="zc_main2">
	      		<dl class="wyd">
	      			<dt>租车预定说明</dt>
	      			<dd>
	      				<a href="###">服务时间</a>
	      				<a href="###">服务地点</a>
	      				<a href="###">租车资格</a>
	      				<a href="###">取还车说明</a>
	      			</dd>
	      		</dl>
	      		<dl class="why">
	      			<dt>会员管理</dt>
	      			<dd>
	      				<a href="###">会员章程</a>
	      			</dd>
	      		</dl>
	      		<dl class="wsj">
	            <dt>紧急事务处理</dt>
	            <dd>
	                <a target="_blank" href="###">保险责任</a>
	                <a target="_blank" href="###">理赔说明</a>
	                <a target="_blank" href="###">事故处理</a>
	                <a target="_blank" href="###" style="clear:both;">救援及备用车</a>
	            </dd>
	            </dl>
	            <dl class="wfy">
	            <dt>租车费用及结算</dt>
	            <dd>
	                <a target="_blank" href="###">价格说明</a>
	                <a target="_blank" href="###">结算流程</a>
	                <a target="_blank" href="###">储值卡</a>
	            </dd>
	            </dl>
	            <dl class="wbz">
	            <dt>帮助中心</dt>
	            <dd>
	                <a target="_blank" href="http://help.zuche.com/xssl/">常见问题</a>
	                <a target="_blank" href="http://help.zuche.com/cjwt/">新手上路</a>
	                <a target="_blank" href="http://help.zuche.com/fwgz/">服务规则 </a>
	            </dd>
	            </dl>
	      		</div>	
		 </div>
        <!--foot end-->
        <div class="zc-footer">
      		<div class="zc_main">		
	      		<div class="ainfor">
		            <a title="关于我们" href="http://huodong.zuche.com/gywm/">关于我们</a>
		            <a title="投资者关系" target="_blank" href="http://ir.zuche.com">投资者关系</a>
		            <a target="_parent" title="新闻中心" href="http://news.zuche.com/">新闻中心</a>
		            <a title="加盟合作" target="_blank" href="http://jiameng.zuche.com">加盟合作</a>
		            <a title="隐私保护" target="_parent" href="http://huodong.zuche.com/ysbh/">隐私保护</a>
		            <a title="网站导航" target="_parent" href="http://help.zuche.com/sitemap/">网站导航</a>
		            <a title="联系我们" target="_parent" href="http://huodong.zuche.com/lxwm/">联系我们</a>
		            <a title="招贤纳士" target="_blank" href="http://hr.zuche.com/">招贤纳士</a>
		            <a target="_blank" href="http://en.zuche.com" class="eng_wz">English<i class="eng_icon"></i></a>
            </div>
            
            <div class="zc-copyright">
            	<p class="fl">Copyright©2008-2016 www.zuche.com All Rights Reserved.　神州租车官网 京ICP备10005002号   京公网安备号 11010502026705</p>
                <p class="pt10">
                <a target="_blank" tabindex="-1" id="urlknet" class="sz_k"></a>
                <a target="_blank" id="___szfw_logo___"  title="诚信网站" class="sz_c"></a>
                </p>
            </div>
      	</div>
        </div>
	</body>
</html>
